*{
    font-family: 'Roboto', sans-serif;
}
.logo{
    height: 70px;
    margin-left: 10px;
    
}
.heading
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:20px auto;
    width:max-content;
    padding:8px;
}
.subheading
{
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);
    padding:8px;

    margin: auto;
    margin-top: 25px ;
    user-select: none;
    max-width: max-content;
}
.mainlist
{
    font-size: 30px;
    margin-top: 25px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);
    padding:8px;

    width: fit-content;
    user-select: none;
    /* text-decoration: none; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list{
    
 
    font-size: x-large;
    text-decoration: none;
    color: rgb(37, 25, 206);
    margin: 4px;
}
.list:visited{
    color: rgb(18, 2, 240);
}
.list a:hover{
            opacity: .9;
}
.github ,.twitter,.linkdin
{
   float: right;
   
   font-size: 45px;
   margin: 8px 25px;
/* padding-right: 20px; */
}
.linkdin{
color: #0077b5;
/* padding: 6px; */
}
.linkdin:hover,.github:hover{
        transform: scale(1.2);
}
/* .linkdin:visited{
color: #0077b5;
} */

.twitter{
   color: #00acee ;
}
.twitter:visited{
color: #00acee ;
}
.github{
  color: black;
}
.github:visited{
  color: black;
}
.twitter:hover{
   /* padding: 1.3px 0px; */
   transform: scale(1.2);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.4rem 1rem;
    background:#000000;
    color:#fff;
    cursor: pointer;
    font-size: 1.1rem;
    text-transform: capitalize;
    outline: none;
    transition: 0.3s;
}
.btn:hover{
    letter-spacing: .1rem!important; 
}
.changeviews{
      font-size: 20px;
      font-weight: 600;
      float: right;
      /* margin-top: 1px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding:8px;

    /* top: 23334px; */
  
  }
  .changeviews:hover{
    color: rgb(0, 0, 0);
text-shadow: 1px 1px 4px rgba(100, 100, 100);
cursor:pointer;
  }
.viewicon{
   font-size: larger;
   float:right;
   /* clear: left; */
   
   margin-top: 0.5px;
}
.footbar{
   user-select: none;
   font-size: 20px;
   font-weight: 400;
   margin-top: 30px;
   background-color:rgba(246, 246, 246) ;
   /* background-color: turquoise; */
   margin-bottom: 0%;
 text-align: center;

   }
   .rule{
       margin-top: 100px;
       
   }
@media  (max-width:980px) and (min-width:500px) {
.heading{
        font-size: 40px;
        text-align: center;
    /* font-size: 40px; */
    font-weight: bold;
    font-style: italic;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    width: fit-content;
    }
    /* .changeviews{
        font-size: 15px;
    } */
}
  @media  (max-width:500px) and (min-width:370px) {
    .heading{
        font-size: 25px;
        text-align: center;
    /* font-size: 40px; */
    font-weight: bold;
    font-style: italic;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    width: fit-content;
    }
    .subheading{
        font-size: 20px;
    }
    .mainlist{
        font-size: 20px;
    }
    .list{
        font-size: 18px;
    }

.github ,.twitter,.linkdin
{
   float: right;
   
   font-size: 35px;
   margin: 8px 20px;
/* padding-right: 20px; */
}
.changeviews{
        font-size: 10px;
    }
  }

  @media  (max-width:370px) and (min-width:0px) {
      .logo{
         height: 50px;
      }
      .heading{
        font-size: 25px;
        text-align: center;
    /* font-size: 40px; */
    font-weight: bold;
    font-style: italic;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    width: fit-content;
    }
    .github ,.twitter,.linkdin
{
   float: right;
   
   font-size: 30px;
   margin: 8px 10px;
/* padding-right: 20px; */
}
  }
  #loading{
      position: fixed;
      width: 100%;
      height: 100%;
      background: white url('https://i.gifer.com/CVyf.gif') no-repeat center;
      z-index: 1000;
     float: right;
     /* margin: auto; */
  }
.clock{
    text-align: center;
    background-color:rgba(246, 246, 246) ;
}